footer {
  display: flex;
  /* colocar itens um ao lado do outro */

  gap: 24px;
  /* adicionar espaços entre linhas */

  font: 14px/150% var(--font-family);
}

footer span:nth-child(1) {
  /* NRH-CHILD SÓ FUNCIONA SE FOR LITERALMENTE O PRIMEIRO NO HHTML, SE TIVER UM (a) com um link antes do span que foi selecionado com o nth-child o span passa a não existir. Caso quisesse selecionar o span teria que ser footer span:nth-child(2), com o numero 2 para o (A) que é o numero (1) passar a não existir mais. (ele sempre vai contar quantos filhos tem no pai, tipo o footer*/

  margin-right: auto;
  /* definindo margem automatica para a direita. */
}
